# Data Analysis of iTunes Podcast Reviews

In [1]:
# ITUNES PODCAST REVIEWS
# ----------------------------------------------------------------------------------------------------------------


# INITIATION ------------

# System information
import os

# Data preparation
import pandas as pd
import sqlite3 as sql
# import duckdb

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data transformation & algorithms
import numpy as np
import scipy as sp

# Data modeling
import sklearn


# Miscellaneous
import math
from tabulate import tabulate
from IPython.display import Image
from processes import \
    preparation, \
    transformation, \
    cleaning, \
    visualization, \
    modeling

print(
    'CURRENT DIRECTORY:\n'
    '. = \"', os.getcwd(), '\"', sep=''
)

for dirName, _, filenames in os.walk('.'):
    if dirName[2:3] != '.':
        print('\n', dirName, sep='')
        for filename in filenames:
            print(os.path.join(dirName, filename))

CURRENT DIRECTORY:
. = "D:\Documents\Projects\DS\Turing\2 Data Analysis\S2\Project"

.
.\.gitignore
.\225.ipynb
.\iTunesPodcastReviews_DA.ipynb
.\LICENSE
.\README.md
.\requirements.txt

.\data
.\data\database.sqlite

.\processes
.\processes\cleaning.py
.\processes\modeling.py
.\processes\preparation.py
.\processes\transformation.py
.\processes\visualization.py

.\processes\tools
.\processes\tools\modify_cls.py

.\processes\tools\__pycache__
.\processes\tools\__pycache__\modify_cls.cpython-311.pyc

.\processes\__pycache__
.\processes\__pycache__\cleaning.cpython-311.pyc
.\processes\__pycache__\modeling.cpython-311.pyc
.\processes\__pycache__\preparation.cpython-311.pyc
.\processes\__pycache__\transformation.cpython-311.pyc
.\processes\__pycache__\visualization.cpython-311.pyc

## Data Familiarization

In [2]:
# EXECUTION -------------

# Display plots directly in the notebook interface
%matplotlib inline

# Connect to database
con = sql.connect('./data/database.sqlite')

### Categories data:

In [3]:
# Import Categories data into pandas
Categories = pd.read_sql('SELECT * FROM categories', con)

# First 10 observations
print('CATEGORIES')
Categories.recap(n_rows=10)

CATEGORIES
S  E  L  F
Number of Observations: 212372;
Number of Features: 2.
- Categorical features: podcast_id, category;
- Numerical features: .

                         podcast_id              category
0  c61aa81c9b929a66f0c1db6cbe5d8548                  arts
1  c61aa81c9b929a66f0c1db6cbe5d8548  arts-performing-arts
2  c61aa81c9b929a66f0c1db6cbe5d8548                 music
3  ad4f2bf69c72b8db75978423c25f379e                  arts
4  ad4f2bf69c72b8db75978423c25f379e           arts-design
5  ad4f2bf69c72b8db75978423c25f379e             education
6  ad4f2bf69c72b8db75978423c25f379e       society-culture
7  f2970432aad718a000ebac10e48ae6b0                  arts
8  f2970432aad718a000ebac10e48ae6b0  arts-performing-arts
9  f2970432aad718a000ebac10e48ae6b0       society-culture

### Podcasts data:

In [4]:
# Import Podcasts data into pandas
Podcasts = pd.read_sql('SELECT * FROM podcasts', con)

# First 10 observations
print('PODCASTS')
Podcasts.recap(n_rows=10)

PODCASTS
S  E  L  F
Number of Observations: 110024;
Number of Features: 5.
- Categorical features: podcast_id, slug, itunes_url, title;
- Numerical features: itunes_id.

,podcast_id,itunes_id,slug,itunes_url,title
0,a00018b54eb342567c94dacfb2a3e504,1313466221,scaling-global,https://podcasts.apple.com/us/podcast/scaling-...,Scaling Global
1,a00043d34e734b09246d17dc5d56f63c,158973461,cornerstone-baptist-church-of-orlando,https://podcasts.apple.com/us/podcast/cornerst...,Cornerstone Baptist Church of Orlando
2,a0004b1ef445af9dc84dad1e7821b1e3,139076942,mystery-dancing-in-the-dark,https://podcasts.apple.com/us/podcast/mystery-...,Mystery: Dancing in the Dark
3,a00071f9aaae9ac725c3a586701abf4d,1332508972,kts-money-matters,https://podcasts.apple.com/us/podcast/kts-mone...,KTs Money Matters
4,a000a500f06555f81220c3eb641aded7,1544900779,word-on-the-street-w-dreak-swift,https://podcasts.apple.com/us/podcast/word-on-...,Word on the Street w/ Dreak Swift
5,a000aa69852b276565c4f5eb9cdd999b,1342447811,speedway-soccer,https://podcasts.apple.com/us/podcast/speedway...,Speedway Soccer
6,a000b6538cca860a11a94607c13e9595,1568973037,showing-up-for-you,https://podcasts.apple.com/us/podcast/showing-...,Showing Up for You
7,a0010b283ba17d282c7bb1f9709f0ac3,1285218356,bethany-baptist-church-bellflower-ca,https://podcasts.apple.com/us/podcast/bethany-...,"Bethany Baptist Church, Bellflower CA"
8,a0013c50c1e6b24266fdeb10eed6eea7,1448380200,mindful-communication-podcast,https://podcasts.apple.com/us/podcast/mindful-...,Mindful Communication Podcast
9,a00155a1dc1d1b9ef4d2d573982207c6,1500634531,marvels,https://podcasts.apple.com/us/podcast/marvels/...,MARVELS

### Reviews data:

In [5]:
# Import Reviews data into pandas
Reviews = pd.read_sql('SELECT * FROM reviews', con)

# First 10 observations
print('REVIEWS')
Reviews.recap(n_rows=10)

REVIEWS
S  E  L  F
Number of Observations: 2067529;
Number of Features: 6.
- Categorical features: podcast_id, title, content, author_id, created_at;
- Numerical features: rating.

,podcast_id,title,content,rating,author_id,created_at
0,c61aa81c9b929a66f0c1db6cbe5d8548,really interesting!,Thanks for providing these insights. Really e...,5,F7E5A318989779D,2018-04-24T12:05:16-07:00
1,c61aa81c9b929a66f0c1db6cbe5d8548,Must listen for anyone interested in the arts!!!,Super excited to see this podcast grow. So man...,5,F6BF5472689BD12,2018-05-09T18:14:32-07:00
2,ad4f2bf69c72b8db75978423c25f379e,nauseatingly left,"I'm a liberal myself, but its pretty obvious a...",1,1AB95B8E6E1309E,2019-06-11T14:53:39-07:00
3,ad4f2bf69c72b8db75978423c25f379e,Diverse stories,I find Tedx talks very inspirational but I oft...,5,11BB760AA5DEBD1,2018-05-31T13:08:09-07:00
4,ad4f2bf69c72b8db75978423c25f379e,üëçüëçüëçüëç,"I love this podcast, it is so good.",5,D86032C8E57D15A,2019-06-19T13:56:05-07:00
5,ad4f2bf69c72b8db75978423c25f379e,Waste of time,I listened to the ‚ÄúSpanish Flu‚Äù pod cast. Afte...,1,67A452C80BCBEEC,2019-01-09T09:07:09-07:00
6,ad4f2bf69c72b8db75978423c25f379e,Too much victimology,Too much BS trying to convince me of how racis...,3,265ADD6AB150C41,2019-02-02T10:15:25-07:00
7,ad4f2bf69c72b8db75978423c25f379e,Politically biased,I would love to hear topics discussed without ...,1,C27BC8C2D6F5A4A,2019-01-01T09:47:11-07:00
8,ad4f2bf69c72b8db75978423c25f379e,üòÄüòÉ,Ok so I am in love with this podcast.,5,218EE494C8C787F,2019-05-09T17:50:14-07:00
9,ad4f2bf69c72b8db75978423c25f379e,Volume???,"Great podcast, but the editors turn the volume...",1,DC6DBB8C4D9B2E5,2019-06-25T05:05:24-07:00

## Data Preparation
...

### Data cleaning:
First, any observations with erroneous values that are in unsuitable formats or missing values will be handled.

In [ ]:
# HANDLING ERRONEOUS VALUES

# Cleaning the dataset
print('CATEGORIES')
if Categories.has_nan() or Categories.has_na():
    ## Observations with erroneous non-numeric data are removed;
    Categories.dropna(subset=''.split(', '), inplace=True)

    ## Due to limited number of observations, invalid numeric data are replaced with the variables' medians
    Categories.fillna(Categories.median(numeric_only=True, skipna=True), inplace=True)

print('\nPODCASTS')
if Podcasts.has_nan() or Podcasts.has_na():
    ## Observations with erroneous non-numeric data are removed;
    Podcasts.dropna(subset=''.split(', '), inplace=True)

    ## Due to limited number of observations, invalid numeric data are replaced with the variables' medians
    Podcasts.fillna(value=Podcasts.median(numeric_only=True, skipna=True), inplace=True)

print('\nREVIEWS')
if Reviews.has_nan() or Reviews.has_na():
    ## Observations with erroneous non-numeric data are removed;
    Reviews.dropna(subset=''.split(', '), inplace=True)

    ## Due to limited number of observations, invalid numeric data are replaced with the variables' medians
    Reviews.fillna(value=Reviews.median(numeric_only=True, skipna=True), inplace=True)

print('\n# All datasets no longer contain unrepresentable or missing data.')

Second, any duplicate samples and features based on the podcasts' IDs will be investigated further from the 3
datasets
to understand the reasons behind these duplicates and to avoid redundancy and bias.

In [ ]:
# REMOVING DUPLICATE SAMPLES & FEATURES

# Remove duplicated IDs
print('CATEGORIES')
ifDup_c = Categories.has_duplicates('podcast_id', rm=False)

print('\nPODCASTS')
ifDup_p = Podcasts.has_duplicates('podcast_id', rm=False)

print('\nREVIEWS')
ifDup_r = Reviews.has_duplicates('podcast_id', rm=False)

In [ ]:
print(
    f"Number of distinct podcasts in data: "
    f"{pd.concat([Categories['podcast_id'], Podcasts['podcast_id'], Reviews['podcast_id']]).nunique()}\n"
    f"- Categories: {Categories['podcast_id'].nunique()}\n"
    f"- Podcasts: {Podcasts['podcast_id'].nunique()}\n"
    f"- Reviews: {Reviews['podcast_id'].nunique()}"
)

### Update the Categories, Podcasts, & Reviews datasets:

In [ ]:
con.execute(
    """
    DROP TABLE IF EXISTS Map
    ;
    """
)

con.execute(
    """
    CREATE TABLE Map AS
    SELECT podcast_id AS id_old, ROW_NUMBER() OVER () AS podcast_id
    FROM Podcasts
    ;
    """
)

con.execute(
    """
    CREATE UNIQUE INDEX id_old
    ON Map (id_old)
    ;
    """
)

Map = pd.read_sql(
    """
    SELECT *
    FROM Map
    LIMIT 10
    ;
    """,
    con,
    index_col='id_old'
)

print('NEW ID')
Map.recap(n_rows=10)

In [ ]:
con.execute(
    """
    -- Remove old updated Categories dataset
    DROP TABLE IF EXISTS Categories_updated;
    """
)

con.execute(
    """
    CREATE TABLE Categories_updated AS
    SELECT Map.podcast_id, Categories.category
    FROM Map, Categories
    WHERE Categories.podcast_id = Map.id_old
    """
)

Categories_updated = pd.read_sql("SELECT * FROM Categories_updated", con)

print('UPDATED CATEGORIES')
Categories_updated.recap(n_rows=10)

In [ ]:
con.execute(
    """
    -- Remove old updated Podcasts dataset
    DROP TABLE IF EXISTS Podcasts_updated;
    """
)

con.execute(
    """
    CREATE TABLE Podcasts_updated AS
    SELECT Map.podcast_id, Podcasts.title
    FROM Map, Podcasts
    WHERE Podcasts.podcast_id = Map.id_old
    """
)

con.execute(
    """
    CREATE UNIQUE INDEX podcast_id
    ON Podcasts_updated (podcast_id);
    """
)

Podcasts_updated = pd.read_sql("SELECT * FROM Podcasts_updated", con)

print('UPDATED PODCASTS')
Podcasts_updated.recap(n_rows=10)

In [ ]:
id_old = Podcasts['podcast_id'].unique()
podcast_id = dict(zip(id_old, range(1, Podcasts['podcast_id'].nunique() + 1)))

Reviews_updated = Reviews.copy()[Reviews['podcast_id'].isin(id_old)]
Reviews_updated['podcast_id'] = Reviews_updated['podcast_id'].map(podcast_id)

Reviews_updated.to_sql('Reviews_updated', con, if_exists='replace', index=False)

print('UPDATED REVIEWS')
Reviews_updated.recap(n_rows=10)

In [59]:
pd.read_sql(
    """
    SELECT typeof(strftime('%m', created_at))
    FROM Reviews_updated
    """,
    con
)

        typeof(strftime('%m', created_at))
0                                     text
1                                     text
2                                     text
3                                     text
4                                     text
...                                    ...
2043292                               text
2043293                               text
2043294                               text
2043295                               text
2043296                               text

[2043297 rows x 1 columns]

### Checking outliers:

In [76]:
[i for i, j in locals().items() if type(j) == pd.DataFrame and j.equals(Reviews_updated)][0]

['Reviews_updated', '_66']

## Exploratory Data Analysis

## Modeling

## Testing & Evaluation

## Deployment

## Results Interpretation
...

## Suggestions & Recommendations
...

## Conclusion
...